.login-page{

    display:grid;

    grid-template-columns:1fr 480px 1fr;

    height:100vh;

    background:#f7f4ec;
}

.login-left,
.login-right{

    display:flex;

    justify-content:center;

    align-items:center;
}

.background-pattern{

    width:420px;

    height:420px;

    border-radius:50%;

    border:2px dashed #d4d0c5;

    opacity:.3;
}

.login-center {

    width: 460px;

    background: #174d45;

    display: flex;

    flex-direction: column;

    justify-content: center;

    padding: 60px;

    color: white;
}

.login-center h1 {

    margin: 15px 0 0;

    font-size: 34px;

    font-weight: 700;
}

.login-center h2 {

    margin: 0;

    font-size: 24px;

    font-weight: 300;

    letter-spacing: 3px;
}

.login-center p {

    margin: 25px 0 35px;

    opacity: .8;
}






.login-container{

    display:flex;

    flex-direction:column;

    height:100vh;

    background:#f4f5f7;
}

.login-header{

    height:70px;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 40px;

    box-shadow:0 2px 6px rgba(0,0,0,.08);
}

.login-main{

    flex:1;

    display:flex;

    justify-content:center;

    align-items:center;

    position:relative;

    overflow:hidden;
}

.background-map{

    position:absolute;

    inset:0;

    background:url("/assets/world-map.svg")
        center
        no-repeat;

    background-size:70%;

    opacity:.08;
}

.login-card{

    width:420px;

    padding:40px;

    background:#174d45;

    border-radius:16px;

    box-shadow:0 12px 40px rgba(0,0,0,.2);

    color:white;

    z-index:2;
}

.login-card h2{

    text-align:center;

    margin-bottom:30px;
}

.request-btn{

    width:100%;

    margin-top:20px;

    height:46px;

    border:none;

    border-radius:8px;

    background:white;

    color:#174d45;

    cursor:pointer;

    font-weight:600;
}

.login-footer{

    height:45px;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 30px;

    font-size:13px;

    color:#666;
}