/* Hide Okta branding */

#okta-sign-in {
    width: 100%;
    border: none !important;
    box-shadow: none !important;
    background: transparent !important;
    font-family: inherit !important;
}

#okta-sign-in * {
    font-family: inherit !important;
}

/* Hide title */

.okta-form-title {
    display: none !important;
}

/* Hide logo */

.auth-org-logo {
    display: none !important;
}

/* Hide footer */

.auth-footer {
    display: none !important;
}

/* Hide help links */

.help-links {
    display: none !important;
}

/* Hide remember me */

.custom-checkbox {
    display: none !important;
}

/* Hide unlock account */

.registration-link {
    display: none !important;
}

/* Hide need help */

.help {
    display: none !important;
}

/* Remove white background */

.auth-container,
.auth-content {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

/* Inputs */

.o-form-input input {

    height: 50px !important;

    border-radius: 8px !important;

    border: 1px solid #d8d8d8 !important;

    padding-left: 16px !important;

    font-size: 15px !important;
}

/* Labels */

.o-form-label {

    color: white !important;

    font-weight: 500;
}

/* Login Button */

.button-primary {

    height: 52px !important;

    border-radius: 8px !important;

    border: none !important;

    background: #e8ff39 !important;

    color: black !important;

    font-size: 16px !important;

    font-weight: 700 !important;
}

.button-primary:hover {

    background: #d9ef35 !important;
}

/* Error */

.o-form-error-container {

    border-radius: 8px !important;
}