/* h1, h2, h3, p, label */

body {
    font-family: var(--font-family);

    font-size: var(--font-md);

    color: var(--color-text);

    background: var(--color-background);
}

h1{
    font-size:var(--font-4xl);
    font-weight:var(--font-bold);
}

h2{
    font-size:var(--font-3xl);
    font-weight:var(--font-bold);
}

h3{
    font-size:var(--font-2xl);
    font-weight:var(--font-semibold);
}

label{
    font-size:var(--font-xs);
    font-weight:var(--font-semibold);

    color:var(--color-secondary);

    text-transform:uppercase;

    letter-spacing:1px;
}

