

.home-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

.welcome-card {

    min-width: 100%;
    min-height: 200px;
    margin-top: 12px;      

    text-align: center;

    padding: 70px 50px !important;       
}

.welcome-title {
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    color: #b4863a;
}

.welcome-app-name {
    margin: 10px 0;

    font-size: 14px;
    font-weight: 700;

    color: #2f5d58;
}

.welcome-description {
    margin-top: 10px;

    font-size: 12px;
    color: #666;

    line-height: 1.7;
}