.login-card {
  width: 360px;
  min-height: 500px; 
  background: #184f46;
  color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 28px 26px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.18);
  border-radius: 9px; 
}

.demo {
  margin-top: auto;

  display: flex;

  flex-direction: column;

  align-items: center;

  gap: 8px;

  color: #c9d3d1;

  font-size: 16px;
}

.demo img {
  width: 120px !important;
}
.o-form-content{
    padding: 0px !important;
}

#okta-sign-in .o-form-button-bar .button.button-primary{
    min-height: 40px !important;
    padding-block: 0px !important;
    font-size: 14px !important;
    color: #535252 !important;
}

.panel-buttons {
  display: flex;

  width: 100%;

  gap: 10px;

  margin-top: 28px;
}

.panel-buttons button {
  flex: 1;

  height: 38px;

  border-radius: 6px;

  background: #2c6159;

  border: 1px solid rgba(255, 255, 255, 0.18);

  color: white;

  cursor: pointer;
}

.login-card img {
  width: 90px;

  margin-top: 2px;

  margin-bottom: 2px;
}

.login-card h2 {
  margin-top: 15px;

  font-size: 15px;

  font-weight: 700;

  letter-spacing: 0.3px;

  text-align: center;
}

.login-footer {
  height: 45px;

  background: white;

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 0 30px;

  font-size: 13px;

  color: #666;
}

#okta-sign-in .auth-header {
  border-bottom: none !important;
  padding: 1px !important;
}

#okta-sign-in .o-form label {
  font-size: 10px !important;
  color: #fff;
}

#okta-sign-in .o-form .input-fix {
  height: 40px !important;
  border-radius: 6px !important;
  background: rgba(255, 255, 255, 0.05) !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

#okta-sign-in .o-form .input-fix input[type="text"] {
  color: #fff !important;
}

#okta-login-container {
  height: 100% !important;
}


#okta-sign-in .auth-beacon{
    bottom: 50px !important;
}