
.tab-placeholder {
    min-height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #777;

    text-align: center;
}

.tab-placeholder h3 {
    margin-bottom: 8px;

    color: #436b63;
}

.tab-placeholder p {
    margin: 0;
}

.unsaved-text {
    font-size: 10px;
    font-weight: 700;
    color: #94601f;
    background: #f5e5cb;
    padding: 6px 12px;
    border-radius: 20px;
}