.login-container {
  display: flex;

  flex-direction: column;

  min-height: 100vh;

  background: #f7f4ed;
}


.login-main {
    /* flex: 1; */
    /* display: flex;
    justify-content: center; */
    /* align-items: stretch; */
    /* position: relative; */
    /* overflow: hidden; */

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.background-map {
    position: absolute;
    inset: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5; 
    z-index: 1;   
}

