.card{
    background:#fbf9f3bf;

    border:1px solid var(--border);

    border-radius:8px;

    overflow:hidden;

    box-shadow:0 1px 3px rgba(0,0,0,.05);

    display:flex;

    flex-direction:column;

    width:100%;
}

/* ---------- Padding ---------- */

.card--none{
    padding:0;
}

.card--small{
    padding:12px;
}

.card--default{
    padding:14px;
}

.card--large{
    padding:14px;
}